<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>servlets.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_user_servlet</servlet-name>
        <servlet-class>servlets.new_user_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_username</servlet-name>
        <servlet-class>servlets.servlet_username</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_email</servlet-name>
        <servlet-class>servlets.servlet_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_amka</servlet-name>
        <servlet-class>servlets.servlet_amka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_user</servlet-name>
        <servlet-class>servlets.Register_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_doctor</servlet-name>
        <servlet-class>servlets.Register_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_login</servlet-name>
        <servlet-class>servlets.servlet_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_print_doctors</servlet-name>
        <servlet-class>servlets.servlet_print_doctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_health</servlet-name>
        <servlet-class>servlets.servlet_health</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_user_data</servlet-name>
        <servlet-class>servlets.servlet_user_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_user</servlet-name>
        <servlet-class>servlets.update_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_admin</servlet-name>
        <servlet-class>servlets.login_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_get_uncert_doctors</servlet-name>
        <servlet-class>servlets.servlet_get_uncert_doctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_doctor</servlet-name>
        <servlet-class>servlets.update_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_delete_user</servlet-name>
        <servlet-class>servlets.servlet_delete_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_delete_doctor</servlet-name>
        <servlet-class>servlets.servlet_delete_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_get_users</servlet-name>
        <servlet-class>servlets.servlet_get_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_login_doctor</servlet-name>
        <servlet-class>servlets.servlet_login_doctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_user_servlet</servlet-name>
        <url-pattern>/new_user_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_username</servlet-name>
        <url-pattern>/servlet_username</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_email</servlet-name>
        <url-pattern>/servlet_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_amka</servlet-name>
        <url-pattern>/servlet_amka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_user</servlet-name>
        <url-pattern>/Register_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_doctor</servlet-name>
        <url-pattern>/Register_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_login</servlet-name>
        <url-pattern>/servlet_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_print_doctors</servlet-name>
        <url-pattern>/servlet_print_doctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_health</servlet-name>
        <url-pattern>/servlet_health</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_user_data</servlet-name>
        <url-pattern>/servlet_user_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_user</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_admin</servlet-name>
        <url-pattern>/login_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_get_uncert_doctors</servlet-name>
        <url-pattern>/servlet_get_uncert_doctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_doctor</servlet-name>
        <url-pattern>/update_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_delete_user</servlet-name>
        <url-pattern>/servlet_delete_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_delete_doctor</servlet-name>
        <url-pattern>/servlet_delete_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_get_users</servlet-name>
        <url-pattern>/servlet_get_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_login_doctor</servlet-name>
        <url-pattern>/servlet_login_doctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
